In [ ]:
import pandas as pd
import numpy as np
import pickle
file='01online.csv'
file1='02trans.csv'
file2='03client.csv'

In [ ]:
online=pd.read_csv(file)
trans=pd.read_csv(file1)
client=pd.read_csv(file2)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# online

In [ ]:
# trans

In [ ]:
# client

1단계 - online+client (trans_id 없는것 삭제)

In [ ]:
#online+client
data=pd.merge(online, client, on='clnt_id')
data=data.replace('unknown',np.nan)
on_sort=data.sort_values(by=['clnt_id','sess_id','hit_seq'])
#trans_id 있는것만
on_sort=on_sort.dropna(subset=['trans_id'])

In [ ]:
on_sort

,clnt_id,sess_id,hit_seq,action_type,biz_unit,sess_dt,hit_tm,hit_pss_tm,trans_id,sech_kwd,tot_pag_view_ct,tot_sess_hr_v,trfc_src,dvc_ctg_nm,clnt_gender,clnt_age
1718824,2,1,37,6,A03,20190728,23:47,791905,62037.0,NaN,55.0,872.0,DIRECT,NaN,F,30
1718749,2,8,68,6,A03,20190731,21:25,3251794,64691.0,NaN,85.0,3256.0,DIRECT,NaN,F,30
1718856,2,10,16,6,A03,20190801,22:00,306944,65505.0,NaN,23.0,353.0,DIRECT,NaN,F,30
1718900,2,19,17,6,A03,20190830,22:00,2227390,88495.0,NaN,29.0,2253.0,DIRECT,NaN,F,30
3104158,4,1,2,6,A01,20190826,10:38,402600,85046.0,NaN,115.0,950.0,NaN,mobile_app,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912913,72418,3,12,6,A02,20190919,12:52,2359650,104648.0,NaN,22.0,2360.0,NaN,PC,NaN,NaN
2418148,72419,1,5,6,A02,20190902,21:19,743203,90888.0,NaN,39.0,743.0,NaN,mobile_web,NaN,NaN
3094246,72423,1,1,6,A01,20190917,11:48,116283,102596.0,NaN,24.0,114.0,NaN,mobile_app,F,30
1662068,72424,2,52,6,A03,20190924,17:12,2410463,108506.0,NaN,82.0,2445.0,PORTAL_1,PC,M,40
2489933,72427,3,20,6,A02,20190805,11:40,1263935,68908.0,NaN,23.0,1275.0,NaN,mobile_web,NaN,NaN

2단계 - +trans (pd_c 없는것 삭제)

In [ ]:
clu=pd.merge(on_sort, trans, on=['clnt_id', 'trans_id'])
clu=clu.replace('unknown',np.nan)
clu=clu.dropna(subset=['pd_c'])

In [ ]:
clu

,clnt_id,sess_id,hit_seq,action_type,biz_unit_x,sess_dt,hit_tm,hit_pss_tm,trans_id,sech_kwd,...,dvc_ctg_nm,clnt_gender,clnt_age,trans_seq,biz_unit_y,pd_c,de_dt,de_tm,buy_am,buy_ct
0,2,1,37,6,A03,20190728,23:47,791905,62037.0,NaN,...,NaN,F,30,1,A03,0092,20190729,23:47,36000,20
1,2,8,68,6,A03,20190731,21:25,3251794,64691.0,NaN,...,NaN,F,30,5,A03,0092,20190731,21:25,1800,1
2,2,8,68,6,A03,20190731,21:25,3251794,64691.0,NaN,...,NaN,F,30,2,A03,0151,20190731,21:25,3990,1
3,2,8,68,6,A03,20190731,21:25,3251794,64691.0,NaN,...,NaN,F,30,3,A03,0351,20190731,21:25,4690,1
4,2,8,68,6,A03,20190731,21:25,3251794,64691.0,NaN,...,NaN,F,30,4,A03,0189,20190731,21:25,4290,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127353,72400,7,8,6,A02,20190731,09:46,103042,65027.0,NaN,...,mobile_app,F,40,1,A02,1064,20190731,09:46,78900,1
127354,72410,3,8,6,A02,20190726,13:59,437775,60926.0,NaN,...,PC,F,40,1,A02,0350,20190726,13:59,14470,1
127355,72423,1,1,6,A01,20190917,11:48,116283,102596.0,NaN,...,mobile_app,F,30,1,A01,0169,20190917,11:48,479700,1
127356,72424,2,52,6,A03,20190924,17:12,2410463,108506.0,NaN,...,PC,M,40,2,A03,0960,20190924,17:12,19900,1
127357,72424,2,52,6,A03,20190924,17:12,2410463,108506.0,NaN,...,PC,M,40,1,A03,0968,20190924,17:12,14900,2

In [ ]:
clu.isnull().sum()

clnt_id                 0
sess_id                 0
hit_seq                 0
action_type             0
biz_unit_x              0
sess_dt                 0
hit_tm                  0
hit_pss_tm              0
trans_id                0
sech_kwd           123095
tot_pag_view_ct         0
tot_sess_hr_v         295
trfc_src            10611
dvc_ctg_nm          88162
clnt_gender             0
clnt_age                0
trans_seq               0
biz_unit_y              0
pd_c                    0
de_dt                   0
de_tm                   0
buy_am                  0
buy_ct                  0
dtype: int64

trans_id 당 pd_c list를 생성하기 위한 파일 (-> 0902 추천결과)

In [ ]:
re_clu=clu[['clnt_id','sess_id','trans_id','pd_c']]
re_clu=re_clu.replace('unknown',np.nan)
re_clu=re_clu.dropna(subset=['pd_c'])
re_clu

        clnt_id  sess_id  trans_id  pd_c
0             2        1   62037.0  0092
1             2        8   64691.0  0092
2             2        8   64691.0  0151
3             2        8   64691.0  0351
4             2        8   64691.0  0189
...         ...      ...       ...   ...
127353    72400        7   65027.0  1064
127354    72410        3   60926.0  0350
127355    72423        1  102596.0  0169
127356    72424        2  108506.0  0960
127357    72424        2  108506.0  0968

[123095 rows x 4 columns]

In [ ]:
len(re_clu['trans_id'].value_counts())

21802

In [ ]:
with open('re_clu.txt','wb') as f:
    pickle.dump(re_clu, f)

hit_tm/tot_pag_view_ct/tot_sess_hr_v/trfc_src/dvc_ctg_nm/clnt_gender/clnt_age/buy_am

In [ ]:
clu=clu[['clnt_id','sess_id','trans_id','hit_tm','tot_pag_view_ct','tot_sess_hr_v','trfc_src','dvc_ctg_nm','clnt_gender','clnt_age','buy_am']]

In [ ]:
clu.isnull().sum()

clnt_id                0
sess_id                0
trans_id               0
hit_tm                 0
tot_pag_view_ct        0
tot_sess_hr_v        295
trfc_src           10611
dvc_ctg_nm         88162
clnt_gender            0
clnt_age               0
buy_am                 0
dtype: int64

In [ ]:
clu.describe()

,clnt_id,sess_id,trans_id,tot_pag_view_ct,tot_sess_hr_v,buy_am
count,123095.000000,123095.000000,123095.000000,123095.000000,122800.000000,1.230950e+05
mean,38019.416231,18.445201,75435.698452,45.126691,1745.865611,8.269653e+05
std,19984.558889,27.618051,21353.066515,33.120935,1416.284028,2.850229e+08
min,2.000000,1.000000,38872.000000,1.000000,1.000000,0.000000e+00
25%,21278.000000,3.000000,57070.500000,22.000000,742.000000,2.490000e+03
50%,37922.000000,9.000000,74871.000000,37.000000,1393.000000,3.990000e+03
75%,55393.000000,22.000000,93454.000000,59.000000,2352.000000,7.980000e+03
max,72424.000000,538.000000,112776.000000,352.000000,24493.000000,1.000000e+11

In [ ]:
#clnt_gender 전처리
clnt_gender_mapping={'F':1,'M':2}
clu['clnt_gender']=clu['clnt_gender'].map(clnt_gender_mapping)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# #clnt_age_mapping
# clnt_age_mapping={'10':1,'20':2,'30':3,'40':4,'50':5,'60':6}
# clu['clnt_age']=clu['clnt_age'].map(clnt_age_mapping)

In [ ]:
#dvc_ctg_nm전처리
dvc_mapping={"mobile_web":1 , "mobile_app":2 , "PC":3}
clu['dvc_ctg_nm']=clu['dvc_ctg_nm'].map(dvc_mapping)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#trfc_src전처리
trfc_mapping={'DIRECT':1,'PUSH':2,'WEBSITE':3,'PORTAL_1':4,'PORTAL_2':5,'PORTAL_3':6 }
clu['trfc_src']=clu['trfc_src'].map(trfc_mapping)
clu

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,clnt_id,sess_id,trans_id,hit_tm,tot_pag_view_ct,tot_sess_hr_v,trfc_src,dvc_ctg_nm,clnt_gender,clnt_age,buy_am
0,2,1,62037.0,23:47,55.0,872.0,1.0,NaN,1,30,36000
1,2,8,64691.0,21:25,85.0,3256.0,1.0,NaN,1,30,1800
2,2,8,64691.0,21:25,85.0,3256.0,1.0,NaN,1,30,3990
3,2,8,64691.0,21:25,85.0,3256.0,1.0,NaN,1,30,4690
4,2,8,64691.0,21:25,85.0,3256.0,1.0,NaN,1,30,4290
...,...,...,...,...,...,...,...,...,...,...,...
127353,72400,7,65027.0,09:46,9.0,103.0,NaN,2.0,1,40,78900
127354,72410,3,60926.0,13:59,19.0,961.0,NaN,3.0,1,40,14470
127355,72423,1,102596.0,11:48,24.0,114.0,NaN,2.0,1,30,479700
127356,72424,2,108506.0,17:12,82.0,2445.0,4.0,3.0,2,40,19900
127357,72424,2,108506.0,17:12,82.0,2445.0,4.0,3.0,2,40,14900

In [ ]:
#hit_tm전처리
clu['tm']=clu['hit_tm'].str.extract('([0-99]+)\:')
tm_mapping={'00':1, '01':1,'02':1,'03':2,'04':2,'05':2,'6':3,'07':3,'08':3,'09':4,'10':4,'11':4,'12':5,
           '13':5,'14':5,'15':6,'16':6,'17':6,'18':7,'19':7,'20':7,'21':8,'22':8,'23':8}
clu['tm']=clu['tm'].map(tm_mapping)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
clu=clu.drop('hit_tm',axis=1,inplace=None)

In [ ]:
#buy_am 전처리
clu['buy_am']=clu['buy_am']/10000

In [ ]:
#tot_sess_hr_v전처리
clu['tot_sess_hr_v']=clu['tot_sess_hr_v']/60
clu

,clnt_id,sess_id,trans_id,tot_pag_view_ct,tot_sess_hr_v,trfc_src,dvc_ctg_nm,clnt_gender,clnt_age,buy_am,tm
0,2,1,62037.0,55.0,14.533333,1.0,NaN,1,30,3.600,8.0
1,2,8,64691.0,85.0,54.266667,1.0,NaN,1,30,0.180,8.0
2,2,8,64691.0,85.0,54.266667,1.0,NaN,1,30,0.399,8.0
3,2,8,64691.0,85.0,54.266667,1.0,NaN,1,30,0.469,8.0
4,2,8,64691.0,85.0,54.266667,1.0,NaN,1,30,0.429,8.0
...,...,...,...,...,...,...,...,...,...,...,...
127353,72400,7,65027.0,9.0,1.716667,NaN,2.0,1,40,7.890,4.0
127354,72410,3,60926.0,19.0,16.016667,NaN,3.0,1,40,1.447,5.0
127355,72423,1,102596.0,24.0,1.900000,NaN,2.0,1,30,47.970,4.0
127356,72424,2,108506.0,82.0,40.750000,4.0,3.0,2,40,1.990,6.0
127357,72424,2,108506.0,82.0,40.750000,4.0,3.0,2,40,1.490,6.0

In [ ]:
clu['clnt_sess']=clu['clnt_id']*1000+clu['sess_id']

In [ ]:
clu

,clnt_id,sess_id,trans_id,tot_pag_view_ct,tot_sess_hr_v,trfc_src,dvc_ctg_nm,clnt_gender,clnt_age,buy_am,tm,clnt_sess
0,2,1,62037.0,55.0,14.533333,1.0,NaN,1,30,3.600,8.0,2001
1,2,8,64691.0,85.0,54.266667,1.0,NaN,1,30,0.180,8.0,2008
2,2,8,64691.0,85.0,54.266667,1.0,NaN,1,30,0.399,8.0,2008
3,2,8,64691.0,85.0,54.266667,1.0,NaN,1,30,0.469,8.0,2008
4,2,8,64691.0,85.0,54.266667,1.0,NaN,1,30,0.429,8.0,2008
...,...,...,...,...,...,...,...,...,...,...,...,...
127353,72400,7,65027.0,9.0,1.716667,NaN,2.0,1,40,7.890,4.0,72400007
127354,72410,3,60926.0,19.0,16.016667,NaN,3.0,1,40,1.447,5.0,72410003
127355,72423,1,102596.0,24.0,1.900000,NaN,2.0,1,30,47.970,4.0,72423001
127356,72424,2,108506.0,82.0,40.750000,4.0,3.0,2,40,1.990,6.0,72424002
127357,72424,2,108506.0,82.0,40.750000,4.0,3.0,2,40,1.490,6.0,72424002

In [ ]:
clu=clu.drop('clnt_id',axis=1,inplace=None)
clu=clu.drop('sess_id',axis=1,inplace=None)
clu=clu.groupby('clnt_sess')

In [ ]:
med_clu=clu.min()

In [ ]:
med_clu.describe()

,trans_id,tot_pag_view_ct,tot_sess_hr_v,trfc_src,dvc_ctg_nm,clnt_gender,buy_am,tm
count,22239.000000,22239.000000,22101.000000,15250.000000,10583.000000,22239.000000,22239.000000,22035.000000
mean,74835.835109,38.516795,23.926545,1.357639,1.658792,1.122847,3.771470,5.230769
std,21135.301015,33.718135,22.133099,0.706501,0.660528,0.328269,15.786162,1.821572
min,38872.000000,1.000000,0.016667,1.000000,1.000000,1.000000,0.000000,1.000000
25%,56426.000000,16.000000,8.250000,1.000000,1.000000,1.000000,0.135000,4.000000
50%,74568.000000,30.000000,17.616667,1.000000,2.000000,1.000000,0.279000,5.000000
75%,93026.000000,51.000000,33.000000,2.000000,2.000000,1.000000,3.617000,7.000000
max,112776.000000,352.000000,408.216667,6.000000,3.000000,2.000000,1050.000000,8.000000

In [ ]:
med_clu

,trans_id,tot_pag_view_ct,tot_sess_hr_v,trfc_src,dvc_ctg_nm,clnt_gender,clnt_age,buy_am,tm
clnt_sess,,,,,,,,,
2001,62037.0,55.0,14.533333,1.0,NaN,1,30,3.600,8.0
2008,64691.0,85.0,54.266667,1.0,NaN,1,30,0.180,8.0
2010,65505.0,23.0,5.883333,1.0,NaN,1,30,0.900,8.0
2019,88495.0,29.0,37.550000,1.0,NaN,1,30,0.285,8.0
9006,45242.0,40.0,31.716667,1.0,NaN,1,40,0.099,5.0
...,...,...,...,...,...,...,...,...,...
72400005,65018.0,26.0,5.233333,NaN,2.0,1,40,3.000,4.0
72400007,65027.0,9.0,1.716667,NaN,2.0,1,40,7.890,4.0
72410003,60926.0,19.0,16.016667,NaN,3.0,1,40,1.447,5.0
72423001,102596.0,24.0,1.900000,NaN,2.0,1,30,47.970,4.0
72424002,108506.0,82.0,40.750000,4.0,3.0,2,40,1.490,6.0

In [ ]:
med_clu.isnull().sum()

trans_id               0
tot_pag_view_ct        0
tot_sess_hr_v        138
trfc_src            6989
dvc_ctg_nm         11656
clnt_gender            0
clnt_age               0
buy_am                 0
tm                   204
dtype: int64

In [ ]:
med_clu.trfc_src.value_counts()

1.0    10979
2.0     3698
3.0      194
4.0      178
5.0      171
6.0       30
Name: trfc_src, dtype: int64

In [ ]:
med_clu.tm.value_counts()

4.0    5542
5.0    4623
6.0    3510
8.0    3294
7.0    2492
1.0    1159
3.0    1132
2.0     283
Name: tm, dtype: int64

In [ ]:
med_clu.dvc_ctg_nm.value_counts()

2.0    4734
1.0    4730
3.0    1119
Name: dvc_ctg_nm, dtype: int64

In [ ]:
med_clu.clnt_age.value_counts()

40    10273
30     6136
50     4130
20      906
60      761
10       33
Name: clnt_age, dtype: int64

In [ ]:
med_clu.clnt_gender.value_counts()

1    19507
2     2732
Name: clnt_gender, dtype: int64

전처리 한 array의 trans_id를 부여하기 위한 파일 (pd_c는 사용하지 않음 - 데이터 프레임 형태를 위한거)

In [ ]:
pd_clu=clu[['clnt_id','sess_id','trans_id','hit_tm','tot_pag_view_ct','tot_sess_hr_v','trfc_src','dvc_ctg_nm','clnt_gender','clnt_age','buy_am','pd_c']]
pd_clu['clnt_sess']=pd_clu['clnt_id']*1000+pd_clu['sess_id']
pd_clu=pd_clu.drop('clnt_id',axis=1,inplace=None)
pd_clu=pd_clu.drop('sess_id',axis=1,inplace=None)
pd_clu=pd_clu.groupby('clnt_sess')
pd_med_clu=pd_clu.min()
product=pd_med_clu[['trans_id','pd_c']]
with open('final_pd_c.txt','wb') as f:
    pickle.dump(product, f)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

class DataFrameSelector (BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]
    
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent = pd.Series([X[c].value_counts().index[0] for c in X],
                                       index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent)

cat_pipeline = Pipeline([
    ("select_cat", DataFrameSelector(["trfc_src","dvc_ctg_nm","tm","clnt_gender","clnt_age"])),
    ("imputer", MostFrequentImputer()),
    ("cat_encoder", OneHotEncoder(sparse=False,handle_unknown='ignore'))
])

cat_pipeline.fit_transform(med_clu)


from sklearn.preprocessing import MinMaxScaler
num_pipeline = Pipeline([
    ("select_numeric", DataFrameSelector(["tot_pag_view_ct","tot_sess_hr_v","buy_am"])),
    ("imputer",  SimpleImputer(strategy="median")),
    ("scaler", MinMaxScaler())
])

from sklearn.pipeline import FeatureUnion
preprocess_pipeline = FeatureUnion(transformer_list = [
    ("num_pipeline", num_pipeline),
    ("cat_pipeline", cat_pipeline)
])

X=preprocess_pipeline.fit_transform(med_clu)

In [ ]:
X.shape

(22239, 28)

In [ ]:
with open('final_preprocessing.txt','wb') as f:
    pickle.dump(X, f)